#btn_sendVerification , #btn_Login{
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}

#btn_Resend{
    -fx-background-image: url(/Assets/refresh.png);
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-border-radius: 100%;
    -fx-background-size: 60% 60%;
}
