#root{
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-background-radius: 10;
}

#btn_Logout{
    -fx-background-image: url(../Assets/Logout_24px.png);
    -fx-background-repeat: no-repeat;
    -fx-text-alignment: center;
    -fx-background-position: left center;
}

#btn_Exit{
    -fx-background-image: url(../Assets/imac_exit_24px.png);
    -fx-background-repeat: no-repeat;
    -fx-text-alignment: center;
    -fx-background-position: left center;
}